*{
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

/*Header*/
.navigations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.leftmenu img{
    width: 40px;
    height: auto;
}

.logo-container img{
    margin: 0;
    width: 70px;
    
}

.rightmenu img{
    width: 40px;
    height: auto;
}