*{
    padding: 0;
    margin: 0;
}

.content {
    padding-top: 40px;
}

body {
    width: 100%;
    margin: 0 auto;
}

/*Header*/
.navigations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
    
}

.header {
    width: 100%;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.leftmenu img{
    width: 30px;
    height: auto;
    padding-left: 15px;
}

.logo-container img{
    margin: 0;
    width: 70px;
    
}

.rightmenu img{
    width: 35px;
    height: auto;
    padding-right: 15px;
}